# Ignorar entornos virtuales
plan_est/
entornopy311/

# Ignorar archivo de notas
notas.md

# Ignorar otros archivos temporales o típicos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.DS_Store

# VS Code (opcional)
.vscode/